body {
  font: 15px "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul{
    margin:0;
    padding:0;
}

.loading{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
  content: 'Loading...';
}