#tasks-wraper{
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

#tasks-wraper .panel-heading{
    cursor: pointer;
}

#tasks-wraper .panel-body{
    height: 300px;
    overflow: scroll;
}