<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feather Quick Build</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="cols-md-6">feather自动编译系统</div>
            <div class="cols-md-6">
                <ul class="nav nav-pills navs">
                  <li class="active"><a href="/">编译</a></li>
                  <li><a href="/repo">仓库</a></li>
                  <li><a href="#">任务</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="build"> 
        <form action="">
            <div class="form-group">    
                <div class="input-group">
                    <input type="text" v-model="branch_name" placeholder="输入需要编译的仓库分支" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" v-on:click="fetchRepo" v-bind:class="{ 'loading': isLoading }">{{search_btn}}</button>
                    </span>
                </div>
            </div>
            <div class="form-group" v-if="hasRepo">
                <label for="">请勾选仓库：</label>
                <div class="checkbox" v-for="repo in repos">
                    <label for="{{repo}}">
                        <input type="checkbox" v-model="reposNames" id="{{repo}}" value="{{repo}}" /> 
                        {{repo}}&emsp; 
                    </label>             
                </div><br>
                <a href="javascript:;" id="releaseBtn" class="btn btn-primary" v-on:click="releaseRepo" v-bind:class="{ 'loading': isLoading }" >{{release_btn}}</a>
            </div>
        </form>
        <div class="panel panel-info" v-if="hasResult">
            <div class="panel-heading">编译结果</div>
            <div class="panel-body">{{releaseResult}}</div>
        </div>
    </div>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
    <script src="/javascripts/build.js"></script>
</body>
</html>