<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Respositories</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/repositories.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tasks.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="cols-md-6">feather自动编译系统</div>
            <div class="cols-md-6">
                <ul class="nav nav-pills navs">
                  <li><a href="/">编译</a></li>
                  <li class="active"><a href="/repo">仓库</a></li>
                  <li><a href="#">任务</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="addRepo">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" v-model="repo_address" placeholder="输入仓库地址" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="addBtn" v-on:click="addRepo" v-bind:class="{ 'loading': isLoading }" href="javascript:;">{{repo_btn}}</button>
                    </span>
                </div>
                <input type="text" v-model="repo_address" class="form-control">
            </div>
            <p v-show="show_errmsg" class="errmsg">{{repo_errmsg}}</p>
        </form>
        <h3 class="page-header">仓库列表：</h3>
        <div class="treeview">
            <ul class="list-group">
                <li class="list-group-item" v-for="group in groups">
                    <span class="icon expand-icon glyphicon glyphicon-object-align-horizontal"></span>
                    <span class="icon node-icon"></span><b>{{ $key }}</b>
                    <ul class="list-group-inline">
                        <li class="list-group-item" v-for="repo in group">
                            <span class="indent"></span>
                            <span class="icon expand-icon glyphicon glyphicon-file"></span>
                            <span class="icon node-icon"></span>{{ repo.name }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary" id="tasks-wraper">
        <div class="panel-heading">任务调度列表</div>
        <div class="panel-body">
            <ul id="tasks" class="list-group">
                <template v-for="task in tasks">
                    <li class="list-group-item list-group-item-{{task.className}}">
                        <p>描述：{{task.desc}}</p>
                        <p>命令：{{task.cmd}} {{task.args.join(' ')}}</p>
                        <p>状态：任务{{task.text}} {{task.status == 'error' ? '失败原因：' + task.errorMsg : ''}}</p>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
    <script src="/javascripts/repo.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/tasks.js"></script>
</body>
</html>
