<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feather Quick Build</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<div class="container header">
    <div class="row">
        <div class="col-md-6 logo">feather自动编译系统</div>
        <div class="col-md-6">
            <block 'navs'>
                <ul class="nav nav-pills navs">
                    <li class="active"><a href="/">编译</a></li>
                    <li><a href="/repo">仓库</a></li>
                </ul>
            </block>
        </div>
    </div>
</div>