#repos{
    a{
        float: right;
        margin-left: 7px;
    }
    .list-group{
        height: 204px;
        overflow-y: auto;

        .icon{
          margin-right: 10px;
        }

        &::-webkit-scrollbar {
            width:10px;
        }
        &::-webkit-scrollbar-thumb{
            background:#D1EEEE;
            border-radius:4px;
        }

    }
}

