<extends './layout'>

<block 'navs'>
    <ul class="nav nav-pills navs">
        <li><a href="/">编译</a></li>
        <li class="active"><a href="/repo">仓库</a></li>
    </ul>
</block>

<block 'container'>

    <link rel="stylesheet" type="text/css" href="static/repos/repos.css" />

    <div class="container" id="repo-container">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" v-model="repo_address" placeholder="输入仓库地址" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="addBtn" v-on:click="addRepo" v-bind:class="{ 'loading': isLoading }" href="javascript:;">{{repo_btn}}</button>
                    </span>
                </div>
            </div>
            <div class="alert alert-danger" v-show="show_errmsg" role="alert">{{repo_errmsg}}</div>
        </form>

        <div class="row" id="repos">
            <div v-for="group in groups" class="repos {{group.class}}" >
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>{{$key}}</strong></div>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="repo in group.repos">
                            <span v-if="!repo.repo" class="indent"></span>
                            <span v-if="!repo.repo" class="icon expand-icon glyphicon glyphicon glyphicon-flag" v-show="repo.feather"></span>
                            <span v-if="!repo.repo" class="icon expand-icon glyphicon glyphicon-folder-close" v-show="!repo.feather"></span>
                            {{ repo.name }}
                            <a v-if="!repo.repo" href="javascript:" data-repo="{{repo.id}}" v-on:click="setDelRepo" class="del glyphicon glyphicon-remove" data-toggle="modal" data-target="#del-modal"></a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="del-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">删除仓库</h4>
                    </div>
                    <div class="modal-body">
                        确定删除仓库？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="delRepo" id="del-modal-submit" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    require.async('static/repos/repos.js');
    </script>

</block>